.wb-button{
    outline: none;
    display: inline-block;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 15px;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    border: none;
    box-sizing: border-box;
    margin: 5px;
}

.wb-button:active{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.wb-button-main{
    color: #ffffff;
    background: #1989fa;
}
.wb-button-main:active{
    color: #ffffff;
    background: #8cc4fc;
}

.wb-button-success{
    color: #ffffff;
    background: #5cb87a ;
}
.wb-button-success:active{
    color: #ffffff;
    background: #3e7c53;
}

.wb-button-warning{
    color: #ffffff;
    background: #e6a23c;
}
.wb-button-warning:active{
    color: #ffffff;
    background: #a57128;
}

.wb-button-danger{
    color: #ffffff;
    background: #f56c6c;
}
.wb-button-danger:active{
    color: #ffffff;
    background: #a34545;
}

.wb-button-default{
    border: 1px solid #eaeaea;
}
.wb-button-default:active{
    border: 1px solid #017aeb;
    background: #ecf5ff;
}

.is-round{
    border-radius: 30px;
}

.is-circle{
    width: 40px;
    height: 40px;
    padding: 12px;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    border-radius: 50%;
}